.te {
    border: 1px solid #bbb;
    padding: 0 1px 1px;
    font: 12px Verdana,Arial;
}
    .te iframe {
    	border: none;
    	background:#fff;
    }
.teheader {
    height: 31px;
    border-bottom: 1px solid #bbb;
    background: url(./images/header-bg.gif) repeat-x;
    padding-top: 1px;
    overflow: hidden;
}
.testyle { margin-right: 12px }
.tedivider {
    float: left;
    width: 1px;
    height: 30px;
    background: #ccc;
}
.tecontrol {
    float: left;
    width: 34px;
    height: 30px;
    cursor: pointer;
    background-image: url(./images/icons.png);
}
.tecontrol:hover {
    background-color: #fff;
    background-position: 30px 0;
}
.tefooter {
    border-top: 1px solid #bbb;
    background: #f5f5f5;
    overflow:hidden;
}
.toggle {
    float: left;
    background: url(./images/icons.png) -34px 2px no-repeat;
    padding: 9px 13px 0 31px;
    height: 23px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    color: #666;
}
.toggle:hover { background-color: #fff }
.resize {
    float: right;
    height: 32px;
    width: 32px;
    background: url(./images/resize.gif) 15px 15px no-repeat;
    cursor: s-resize;
}
#editor {
    cursor: text;
    margin: 10px;
}